body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #1a1a1a;
}

.header {
  text-align: center;
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.content {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 30px;
}

.placeholder {
  width: 100%;
  height: 100%;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.footer {
  color: white;
  text-align: right;
  font-size: 1em;
  margin: 2em;
}